.git
.gitignore
README.md
.env
.env.local
.env.production
.env.backup
node_modules
npm-debug.log
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
bootstrap/cache/*
.phpunit.result.cache
.DS_Store
Thumbs.db
