body {
  background-color: #fff;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  padding-top: 80px; /* Adjust for fixed navbar */
}

.navbar {
  height: 80px;
  font-size: 1.1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffdede;
}

.navbar-brand img {
  height: 50px;
}

.btn.btn-primary {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#profile-pic,
#logo-navbar {
  width: 40px;
}

.profile-img {
  width: 80px;
  height: 80px;
  background-color: #CF0F47;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}

.section-title {
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 2px solid #CF0F47;
  display: inline-block;
  padding-bottom: 5px;
  color: #000;
}

.section {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.add-link {
  color: #CF0F47;
  text-decoration: none;
  font-weight: 500;
}

.add-link:hover {
  text-decoration: underline;
}

.form-label {
  color: #000;
}

.alert-info {
  background-color: #FFDEDE;
  color: #000;
  border-color: #FF0B55;
}

.card .bi {
  font-size: 1.2rem;
}

.sidebar-item {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar-item:hover {
  background-color: #f1f1f1;
}

.toggle-link {
  font-size: 13px;
}

.text-small {
  font-size: 14px;
}

.footer a {
  color: #000;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .material-icons {
  font-size: 24px;
  color: #000;
}

.footer a i.material-icons {
  font-size: 24px;
  transition: color 0.3s ease;
}

.footer a:hover i.material-icons {
  color: #007bff; 
}
